<!-- square brackets indicate to angular that we are using property binding that we want to change 
dynamically, as opposed to it being hardcoded in this case our 'disabled' property-->
<!--  now it will only be disabled for 2 seconds. This is PROPERTY BINDING-->
<label>Server Name</label>
<!-- <input
type='text'
class='form-control'
(input)='onUpdateServerName($event)'
> -->

<input
type='text'
class='form-control'
[(ngModel)]='serverName'
>

<button 
class='btn btn-primary' 
[disabled]='!allowNewServer'
(click)='onCreateServer()'
>Add Server</button>

<!-- <p>{{serverCreationStatus}}</p> -->
<p *ngIf='serverCreated; else noServer'>{{ serverName }} was created successfully!</p>

<ng-template #noServer>
    <p>No server was created</p>
</ng-template>

<app-server *ngFor="let server of servers"></app-server>
